/* * --------------- */
/* global */
/* ----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid orange; */
    font-family: monospace;
    color: rgb(247, 7, 7)
}

body {
    background-color: #ffffff;
    overflow: hidden;
}

p {
    
    font-size: 1.3em ;
}

.button {
    outline: none;
    background-color: rgb(255, 255, 255);
    font-size: 1.3em;
}

h1 , h2 {
color: rgb(230, 255, 5);
text-align: center;
}

li {
    list-style: none;
}


/* * --------------- */
/* outer container  */
/* ----------------- */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* * --------------- */
/* top bar container */
/* ----------------- */

.top-bar #timer {
    float: right;
}

/* * --------------- */
/* inner container */
/* ----------------- */

.inner-container {
    background: white;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* * --------------- */
/* quiz header */
/* ----------------- */

#quiz-intro {
    visibility:visible;
}

#quiz-intro , main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #4c26f3;
}

#quiz-intro p {
    text-align: center;
}

#quiz-intro button {
    display: block;
    margin: 0 auto;
}


/* * --------------- */
/* Main quiz content */
/* ----------------- */

main {
    visibility: hidden;
}

/* * --------------- */
/* Question Screen   */
/* ----------------- */

#question-screen {
    visibility: hidden;
}

 /* * --------------- */
/* Finish Screen      */
/* -----------------  */

#quiz-finish-screen {
    visibility: hidden;
}

 /* * --------------- */
/*      Highscores    */
/* -----------------  */

#highscores-screen {
    visibility: hidden;
}

.highscores-screen ol {
    overflow-y: scroll;
    max-height: 150px;
}

.highscores-screen li {
    color: white;
}

